server.port=9180

springdoc.api-docs.path=/api/api-docs
springdoc.swagger-ui.path=/api/api-docs-ui
springdoc.base-url=http://localhost:9180

spring.datasource.url=jdbc:h2:mem:testdb
spring.datasource.driverClassName=org.h2.Driver
spring.datasource.username=sa
spring.datasource.password=
spring.jpa.database-platform=org.hibernate.dialect.H2Dialect

spring.jpa.defer-datasource-initialization=true

#enabling the H2 console
spring.h2.console.enabled=true